## Read the Data

### Install the required libraries

In [ ]:
!pip install opendatasets --upgrade --quiet
!pip install pandas 
!pip install imbalanced-learn
!pip install numpy 
!pip install pickle
!pip install seaborn
!pip install matplotlib.pyplot
!pip install scikit-learn
!pip install shutil 
!pip install optuna
!pip install pydotplus

### Import the libraries

In [38]:
import os
import opendatasets as od
import pandas as pd
import shutil
import pickle

### Get the data set URL from Kaggle 
Next, we get the Kaggle URL for the specific data set we need to download. This is from the web url https://www.kaggle.com/datasets/adammaus/predicting-churn-for-bank-customers
and the total size of the data set that we are downloading is ~685 kB

### Get Kaggle API token 
Before we start downloading the data set, we need the Kaggle API token. To get that

1. Login into your Kaggle account
2. Get into your account settings page
3. Click on Create a new API token
4. This will prompt you to download the .json file into your system. Save the file, and we will use it in the next step.

Open the .json file and make a note of your user_name and key.

### Important!! 
When prompted to, first enter your **username** and then **key** from the .json file you just downloaded.

In [39]:
#Assign the kaggle data set URL into variable
dataset = 'https://www.kaggle.com/datasets/adammaus/predicting-churn-for-bank-customers'

#Using opendatasets let's download the data sets 
od.download(dataset, force = True)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Dataset URL: https://www.kaggle.com/datasets/adammaus/predicting-churn-for-bank-customers
Downloading predicting-churn-for-bank-customers.zip to ./predicting-churn-for-bank-customers

100%|██████████| 262k/262k [00:00<00:00, 769kB/s]

### List the files
We will use the os library to list the files inside dir in our case dl-course-data

In [40]:
data_dir = './predicting-churn-for-bank-customers'
print("Downloaded files: ", os.listdir(data_dir))

Downloaded files:  ['Churn_Modelling.csv']

### Read data set content

In [41]:
df = pd.read_csv('predicting-churn-for-bank-customers/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
# Save the DataFrame to a Pickle file in the data folder so easily accessed in all folders

with open('../data/churn_data.pickle', 'wb') as f:
    pickle.dump(df, f)

In [43]:

# Step 4: Delete the downloaded dataset folder to avoid committing it to the github
shutil.rmtree(data_dir)

## References:
- [1] https://ravi-chan.medium.com/how-to-download-any-data-set-from-kaggle-7e2adc152d7f
- [2] https://www.kaggle.com/code/kmalit/bank-customer-churn-prediction/notebook